* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #001219;
    --color2: #176473;
    --color3: #1a7273;
    --color4: #94d2bd;
    --color5: #eee3c3;
    --color6: #ee9b00;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 300;
    width: 100%;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    height: 10vh;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo img {
    width: 40px;
    border: none;
    border-radius: 50%;
}

.navbar .logo h1 {
    color: var(--color5);
    font-size: x-large;
}

.navbar .list ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar .list ul a {
    color: var(--color5);
    text-decoration: none;
    padding-inline: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.navbar .list ul a:hover {
    text-decoration: underline;
}

.contact-container {
    display: flex;
    align-items: center;
    padding: 50px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--color5);
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    height: 100vh;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: #1a7273 0px 22px 70px 4px;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    border-radius: 10px;
}

.form-section {
    flex: 1;
    padding: 15px 40px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: var(--color1);
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: black;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color3);
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: var(--color3);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
    color: rgb(52, 50, 50);
}


/* footer */

.site-footer {
    background-color: var(--color3);
    padding: 5% 30px;
    font-size: 15px;
    line-height: 24px;
    color: var(--color5);
}

.copyright-text {
    margin: 0;
    color: var(--color5);
    text-align: center;
}

.copyright-text p {
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin-bottom: 0;
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons ul {
    display: flex;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #000
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    background-color: #ea4c89
}